.os.os--challenge {
	isolation: isolate;
	font-family: var(--os-font-text);
	font-size: var(--font-size-14);
	background: transparent;
	padding: 0px;
	outline: 1px solid var(--os-color-lines);
	outline-offset: -4.5px;
	z-index: 3;

	& .window-header {
		top: 6px;
		left: 6px;
		position: relative;
		padding-inline: 16px;
		z-index: 1;
		background: rgb(16 34 44 / 80%);
		max-width: 97%;
	}

	& .window-content {
		overflow: hidden;
		position: relative;
		min-height: 100%;
		top: -22px;
	}

	& form {
		position: relative;
		margin: 4px;
		overflow: hidden;
		overflow: clip;
	}

	& .os--challenge-border {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 2;
		pointer-events: none;
	}

	& .os--challenge-meta {
		z-index: 1;
		position: absolute;
		top: 24px;
		width: 100%;
		display: grid;
		grid-template-columns: auto 1fr 70px;
		align-items: center;
		gap: var(--os-space-1);
		padding: var(--os-space-1) 16px var(--os-space-3);
		background-image: linear-gradient(to bottom, rgb(16 34 44 / 80%) 30%, transparent 100%);

		& input {
			margin-inline: -4px 6px;
			font-size: 0.8rem;
			font-family: var(--os-font-sc);
			color: var(--os-color-primary-bg);
			text-transform: uppercase;
			background: transparent;
			border: none;
			min-width: 10px;
			max-width: fit-content;
			height: auto;
			padding: 0px;
		}

		&>img {
			object-fit: cover;
			object-position: center;
			filter: grayscale(1) brightness(2);
			height: 10px;
		}

		& .os--challenge-rating {
			display: flex;
			gap: 2px;
			align-items: center;
			justify-content: end;
			width: 100%;
			margin-inline-end: var(--os-space-1);

			& span {
				display: none;
				color: var(--os-color-accent);
				font-size: var(--font-size-12);

				&:first-child {
					display: block;
					visibility: hidden;
				}

				&.checked {
					display: block;
					visibility: visible;
				}

				& img {
					height: 14px;
					object-fit: contain;
					object-position: center;
				}
			}
		}
	}

	& .os--challenge-avatar {
		position: absolute;
		top: 0px;
		height: 380px;
		width: 380px;
		object-fit: cover;
		object-position: center;
		background: var(--os-color-accent-2);
	}

	& .os--challenge-bg {
		background: url("../../assets/media/challenge-bg.webp") no-repeat top center;
		position: absolute;
		top: 150px;
		height: 100%;
		width: 100%;
		background-size: cover;
		pointer-events: none;
	}

	& .editor { /* challenge description */
		height: 150px;
		min-height: 20px;
		color: var(--os-color-bg);
		margin-inline: var(--os-space-2);
		font-size: var(--font-size-12);
		text-align: justify;
		padding-left: 15px;
		padding-right: 15px;

		&.tinymce {
			min-height: 100px;
			height: 100%;
		}

		& [role="application"] {
			height: 100% !important;
		}
	}

	& .os--challenge-divider {
		display: grid;
		align-items: center;
		text-transform: uppercase;
		grid-template-columns: auto 1fr auto;
		padding: 0px var(--os-space-3);
		padding-top: 8px;
		padding-bottom: 5px;
		gap: var(--os-space-2);

		&.grid-3 {
			grid-template-columns: auto 1fr auto;
		}

		& label {
			font-family: var(--os-font-sc);
			font-size: 0.6rem;
			color: var(--os-color-lines);
			letter-spacing: 1px;
		}

		& img {
			object-fit: cover;
			object-position: left;
			height: 5px;

			&:first-child {
				height: 7px;
			}

		}

		& .os--challenge-add {
			border: none;
			background: 0;
			align-self: baseline;
			line-height: 1;
			font-size: var(--font-size-16);
			color: var(--os-color-lines);
			padding: 0px;
			margin: 0px;

			&:hover,
			&:focus,
			&:active {
				text-shadow: 0px 0px 5px var(--os-color-lines);
				box-shadow: none;
			}
		}
	}

	& .os--challenge-wrapper {
		position: relative;
		top: 290px;
		overflow: auto;
		max-height: 400px;

		& .os--challenge-name {
			display: block;
			margin-inline: var(--os-space-2);
			font-family: var(--os-font-heading);
			font-size: var(--font-size-28);
			color: var(--os-color-weakness);
			font-weight: 700;
			text-shadow: 0px 0px 6px var(--os-color-weakness-bg);
			text-align: center;
			line-height: 1;

			&:focus {
				outline: none;
				background-color: rgb(0, 0, 0, 0.2);
			}
		}

		& .os--challenge-limits {
			display: flex;
			align-items: left;
			margin-inline: var(--os-space-3);
			font-size: var(--font-size-11);
			gap: var(--os-space-2);
			padding: 0px 0px var(--os-space-3);
			height: 70px;
			max-height: 150px;
			/*overflow: auto;*/

			& input {
				background: linear-gradient(45deg, transparent 10%, #c6ff00 10%, #c6ff00 100%);
				border: none;
				border-radius: 0px;
				width: fit-content;
				min-height: fit-content;
				color: var(--os-color-dark-bg);
				text-align: center;
				margin-inline: auto;

				&.os--limit-label {
					position: relative;
					top: 20px;
					height: 30px;
					font-size: 0.8rem;
					margin-inline: auto;
					text-transform: uppercase;
					text-align: center;
				}
				
				&.os--limit-value {
					position: relative;
					background: transparent;
					top: -9px;
					right: 30px;
					padding-block-end: 0px;
					width: 15px;
					font-size: var(--font-size-20);
					font-weight: 800px;
				}
			}
		}

		& .os--challenge-tags {
			margin-inline: var(--os-space-3);
			text-align: center;
			padding-block: var(--os-space-1) var(--os-space-2);
			font-size: var(--font-size-12);

			&>* {
				min-height: 20px;
				width: 100%;
				display: block;
			}

			& #tags {
				color: var(--os-color-weakness);
				transform: skew(-10deg);
			}

			& [contenteditable] {
				background-color: transparent;
				padding: var(--os-space-1);
				border: none;
				border-radius: 0px;
				color: var(--os-color-bg);

				&:focus {
					background-color: rgb(0, 0, 0, 0.2);
					outline: none;
				}
			}

			& [contenteditable]:has(+#tags) {
				cursor: pointer;

				span& {
					cursor: text;
				}

				&:empty {
					background-color: rgb(0, 0, 0, 0.2);
				}
			}
		}

		& .os--challenge-threats {
			display: flex;
			flex-direction: column;
			gap: var(--os-space-3);
			margin-inline: var(--os-space-3);
			padding: 0px 0px var(--os-space-3);
			list-style: none;
			color: var(--os-color-bg);


			& li>div {
				font-size: var(--font-size-12);

				&:first-child {
					font-style: italic;
				}

				&:not(:first-child) {
					font-weight: 600;
					margin-block-start: var(--os-space-1);
					margin-inline-start: 0.5em;
				}
			}
		}
	}
}