.os.os--character {
	background: url("../../assets/media/character-bg.webp") no-repeat left / cover;
	overflow: visible;
	z-index: unset;
	border-radius: 0px;
	color: var(--os-color-lines);

	&:not(.minimized) {
		background: none;
		width: 15.625rem !important;
		height: 21.875rem !important;

		& .window-header {
			&>* {
				transition: scale 0.15s;

				&.close {
					font-size: var(--font-size-18);
				}

				&:hover {
					scale: 1.2;
				}
			}
		}

		& .window-title {
			display: none;
		}
	}

	& .window-header {
		border: none;
		font-family: var(--os-font-text);
		color: var(--os-color-lines);
		justify-content: space-between;

		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/top-frame-branches.webp) no-repeat center / contain;
			height: 55%;
			width: 167%;
			z-index: 1;
			pointer-events: none;
			top: 1.25rem;
			left: -3.125rem;
			rotate: 15deg;
			z-index: -1;
		}
	}

	& .window-content {
		background: transparent;
		overflow: visible;
	}

	& form {
		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/single-flower.webp) no-repeat center / contain;
			height: 40%;
			width: 40%;
			z-index: 1;
			pointer-events: none;
			bottom: 5.75rem;
			right: 0px;
			rotate: 40deg;
		}

		&::after {
			content: "";
			position: absolute;
			background: url(../../assets/media/necklace.webp) no-repeat center / contain;
			height: 35%;
			width: 50%;
			z-index: 1;
			pointer-events: none;
			top: -1.65rem;
			left: 23rem;
			rotate: -15deg;
		}
	}

	& .avatar {
		position: absolute;
		left: -16.0025rem;
		top: -4rem;
		border: none;
		z-index: 0;
	}

	& #name {
		position: absolute;
		top: -3.75rem;
		left: -0.138rem;
		padding-left: 30px;
		padding-bottom: 6px;
		font-family: var(--os-font-heading);
		font-weight: 800;
		font-style: italic;
		font-size: var(--font-size-32);
		background: url(../../assets/media/bg-name.webp) no-repeat;
		height: 53px;
		width: 401px;
		background-color: transparent;
		border: none;
		color: var(--os-color-weakness);
		text-shadow: 0 0 6px var(--os-color), 0 0 12px var(--os-color-dark-bg);
		transition: background-color 0.15s;
		rotate: 0deg;

		&:focus {
			box-shadow: none;
			background-color: rgb(0, 0, 0, 0.1);
		}
	}

	& .nav {
		height: 170px;
		max-width: 750px;
		display: flex;
		justify-content: center;
		margin-block: var(--os-space-1);
		gap: var(--os-space-3);
		background: url("../../assets/media/character-bg.webp") no-repeat;
		
		&>div {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--os-space-2);

			& span { /* titles for custom buttons */
				display: none;
				font-family: var(--os-font-accent);
				color: var(--os-color-primary-bg);
				font-size: var(--font-size-20);
				text-shadow: 4px 3px 3px rgb(0, 0, 0, 0.2);
			}

			& button {
				border: none;
				width: auto;
				height: 3.75rem;
				background: transparent;
				font-size: 3.25rem;
				color: var(--os-color-accent);
				text-shadow: 0px 0px 4px var(--os-color-dark-bg);
				margin-top: 15px;
				transition: scale 0.15s;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
				}

				& img {
					border: none;
					width: 3.75rem;
					filter: drop-shadow(0 0 3px rgb(0, 0, 0, 0.6));

					&[alt="Dice"] {
						width: 5rem;
					}
				}

				&:hover {
					text-shadow: 0 0 4px var(--os-color-primary-bg);
					scale: 1.1;
				}
			}
		}
	}

	& #note {
		position: absolute;
		top: 50px;
		left: 70px;
		background: url("../../assets/media/bg-note.webp") no-repeat left / contain;
		color: var(--os-color-bg); /* journal entry text color */
		box-shadow: none;
		filter: drop-shadow(0 0 6px var(--os-color-primary));
		padding: var(--os-space-3);
		display: none;
		flex-direction: column;
		height: 28.438rem;
		width: 28.438rem;
		max-width: unset;
		font-family: var(--os-font-text);
		z-index: 3;

		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/bottom-branch.webp) no-repeat center / contain;
			height: 46%;
			width: 55%;
			z-index: 1;
			pointer-events: none;
			bottom: -60px;
			right: -70px;
		}

		&::after {
			content: "";
			position: absolute;
			background: url(../../assets/media/feather.webp) no-repeat center / contain;
			height: 45%;
			width: 35%;
			z-index: 1;
			pointer-events: none;
			top: -80px;
			left: 45px;
		}

		&[style*="display: block"] {
			display: flex !important;
		}

		& .os--character-note-wrapper {
			margin-block-end: var(--os-space-2);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-inline: var(--os-space-1);
			flex: none;

			& button {
				border: none;
				background: none;
				width: auto;
				color: var(--os-color-lines);

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
					text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
				}
			}
		}

		& .editor {
			padding-inline: var(--os-space-2);
		}

		& [role="application"] {
			height: 100% !important;
		}
	}

	& .os--character-backpack {
		position: absolute;
		right: -15.075rem;
		width: 18.75rem;
		height: 18.75rem;
		top: -3.5615rem;
		pointer-events: none;

		& .os--backpack-bg-frame,
		& .os--backpack-bg {
			transform: translate(-10px, -20px) scale(0.8) rotate(2deg);
		}

		& .os--backpack-bg-frame {
			width: 15.625rem;
		}

		& .os--backpack-bg {
			height: 100%;
			width: 100%;
			pointer-events: all;
			overflow: visible;

			& .taglist {
				height: 13.125rem;
			}
		}

		& #context-menu {
			pointer-events: all;
		}
	}

	& .os--character-themes {
		position: relative;
		z-index: 2;
	}

	& .os--character-theme {
		isolation: isolate;
		position: absolute;
		top: 0px;
		left: -14.0625rem;
		width: 18.75rem;
		translate: -20% -18%;
		rotate: 0deg;
		scale: 0.71;
		transition: scale 0.13s;

		&:hover,
		&.hovered {
			scale: 0.85;
			z-index: 3;
		}

		&:first-child::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/middle-branches.webp) no-repeat center / contain;
			height: 55%;
			width: 55%;
			z-index: 3;
			pointer-events: none;
			bottom: -5rem;
			left: -3.9375rem;
			rotate: 115deg;
		}

		&:nth-child(2) {
			top: 1rem;
			left: -1.375rem;
			rotate: 0deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/raven.webp) no-repeat center / contain;
				height: 55%;
				width: 55%;
				z-index: 3;
				pointer-events: none;
				bottom: -9.375rem;
				left: -5rem;
				rotate: -10deg;
				transform: scale(-0.6, 0.6);
			}
		}

		&:nth-child(3) {
			top: 3.75rem;
			left: 11rem;
			rotate: 0deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/flowers-top.webp) no-repeat center / contain;
				height: 55%;
				width: 55%;
				z-index: 3;
				pointer-events: none;
				top: 17.5rem;
				left: -5.625rem;
				rotate: 10deg;
			}
		}

		&:nth-child(4) {
			top: 3.9375rem;
			left: 23.75rem;
			rotate: 0deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/bottom-frame-branches.webp) no-repeat center / contain;
				height: 55%;
				width: 120%;
				z-index: 0;
				pointer-events: none;
				top: -7.8125rem;
				left: -1.875rem;
				rotate: 0deg;
			}
		}

		& .os--theme-top {
			padding-block-start: 8px;

			& .os--theme-top-bg {
				margin: 0px 13px 0px 6px;
				display: flex;
				flex-direction: column;

				& .os--theme-tag .tag--name {
					min-height: var(--font-size-28);
				}
			}

			& .os--theme-meta {
				padding-block: 6px 12px;
			}
		}

		& .os--theme-title,
		& .os--weakness {
			width: auto;
			padding: 0px;
			position: relative;
		}

	}

	& .os--character-story-tags {
		position: absolute;
		top: -6.395rem;
		right: -21.000rem;
		rotate:-5deg;
		pointer-events: none;
		display: grid;
		grid-template-areas: "centered";
		place-items: center;
		z-index: -1;
		isolation: isolate;
		box-shadow: none;
		width: 13.75rem;

		&:hover,
		&:focus-within,
		&.focused {
			display: flex;
			flex-direction: column;
			pointer-events: all;
			top: -3.75rem;
			z-index: 2;
			rotate: 0deg;

			& .os--story-tag {
				display: relative;
				margin-block-end: -0.9375rem;
				scale: 1;
				transform: rotate(5deg);

				&:nth-child(1) {
					margin-block-end: -40px;
				}

				&:nth-child(2) {
					margin-block-end: -40px;
				}

				&:nth-child(3) {
					margin-block-end: 0px;
					transform: rotate(15deg);
				}
			}
		}

		& .os--story-tag {
			width: 13.75rem;
			grid-area: centered;
			pointer-events: all;
			display: grid;
			grid-template-areas: "centered";
			place-items: center;
			list-style: none;
			scale: 0.6;
			transition: scale 0.13s, rotate 0.13s, top 0.13s;
			transform-origin: left;
			transform: rotate(10deg);

			&:nth-child(1) {
				transform: rotate(-20deg);
			}

			&:nth-child(2) {
				transform: rotate(-5deg);
			}

			&>* {
				grid-area: centered;
			}

			&>div {
				width: 55%;
				margin-top: 10px;
			}

			& input[type="text"] {
				background: none;
				border: none;
				margin-inline-start: 0px;
				font-family: var(--os-font-heading);
				color: var(--os-color);
				position: absolute;
				top: 25px;
				max-width: 120px;

				&:focus {
					box-shadow: none;
					background-color: rgb(0, 0, 0, 0.1);
				}
			}

			& .os--story-tag-values {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				margin-block-start: 40px;
				margin-inline-start: -10px;
				gap: 8.5px;

				& .os--story-tag-value {
					position: relative;

					& label {
						display: none;
						position: absolute;
						left: 3px;
						top: -7px;
						font-family: var(--os-font-primary);
						color: color-mix(in hsl, var(--os-color) 70%, transparent);
						font-size: var(--font-size-14);

					}
				}

				& input[type="checkbox"] {
					margin: 0px;
					appearance: none;
					width: 0.8em;
					height: 3.5em;
					color: var(--os-color-bg);
					font-size: var(--font-size-20);
					cursor: pointer;

					&:checked::before {
						content: "✗";
					}
				}
			}
		}
	}

	& .os--theme-tag-button {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		gap: var(--os-space-3);
		color: var(--os-color);
		line-height: 135%;
		padding: 0px;
		cursor: auto;
		opacity: 0.5;

		&[data-click="select"] {
			cursor: pointer;
			opacity: 1;
		}
	}

	& [data-selected] {
		&.burned>.os--burn {
			background-image: url("../../assets/media/burn-c.svg");
		}
	}

	/* Selecting Tags for Roll Effect */
	/* TO DO: add theme type variation */
	& [data-selected]::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--os-color-lines-bg);
		opacity: 60%;
		z-index: -2;
	}
}