.os.os--character {
	position: absolute;
	left: -30px;
	top: -10px;
	background: url(../../assets/media/bg-character.webp) no-repeat / auto;
	/*height: 170px;
	width: 500px;*/
	overflow: visible;
	z-index: -1;
	border-radius: 0px;
	color: var(--os-color-lines);

	&:not(.minimized) {
		& .window-header {
			&>* {
				transition: scale 0.15s;

				&.close {
					font-size: var(--font-size-18);
				}

				&:hover {
					scale: 1.2;
				}
			}
		}

		& .window-title {
			display: none;
		}
	}

	& .window-header {
		border: none;
		font-family: var(--os-font-text);
		color: var(--os-color-lines);
		justify-content: space-between;

		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/top-frame-branches.webp) no-repeat center / contain;
			height: 55%;
			width: 167%;
			z-index: 1;
			pointer-events: none;
			top: 20px;
			left: -50px;
			rotate: 15deg;
			z-index: -1;
		}
	}

	& .window-content {
		background: transparent;
		overflow: visible;
	}

	& form {
		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/single-flower.webp) no-repeat center / contain;
			height: 40%;
			width: 40%;
			z-index: 1;
			pointer-events: none;
			bottom: 92px;
			right: 0px;
			rotate: 0deg;
		}

		&::after {
			content: "";
			position: absolute;
			background: url(../../assets/media/necklace.webp) no-repeat center / contain;
			height: 50%;
			width: 50%;
			z-index: 1;
			pointer-events: none;
			top: -60px;
			left: 358px;
			rotate: 10deg;
		}
	}

	& .avatar {
		position: absolute;
		left: -235px;
		top: -64px;
		border: none;
		z-index: 0;
	}

	& #name {
		position: absolute;
		top: -60px;
		left: -15px;
		padding-left: 30px;
		padding-bottom: 6px;
		font-family: var(--os-font-heading);
		font-weight: 800;
		font-style: italic;
		font-size: var(--font-size-32);
		background: url(../../assets/media/bg-name.webp) no-repeat;
		height: 53px;
		width: 401px;
		background-color: transparent;
		border: none;
		color: var(--os-color-weakness);
		text-shadow: 0 0 6px var(--os-color), 0 0 12px var(--os-color-dark-bg);
		transition: background-color 0.15s;
		rotate: -1deg;

		&:focus {
			box-shadow: none;
			background-color: rgb(0, 0, 0, 0.1);
		}		
	}

	& .nav {
		height: 120px;
		max-width: 220px;
		display: flex;
		justify-content: center;
		margin-block: var(--os-space-3) var(--os-space-2);
		gap: var(--os-space-3);

		&>div {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--os-space-2);

			& span {
				font-family: var(--os-font-accent);
				color: var(--os-color-primary-bg);
				font-size: var(--font-size-20);
			}

			& button {
				border: none;
				width: auto;
				height: 60px;
				background: transparent;
				font-size: 52px;
				color: var(--os-color-accent);
				text-shadow: 0px 0px 4px var(--os-color-dark-bg);
				transition: scale 0.15s;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
				}

				& img {
					border: none;
					width: 60px;
					filter: drop-shadow(0 0 6px rgb(0, 0, 0, 1));

					&[alt="Dice"] {
						width: 80px;
					}
				}

				&:hover {
					text-shadow: 0 0 4px var(--os-color-primary-bg);
					scale: 1.1;
				}
			}
		}
	}

	& #note {
		position: absolute;
		top: 50px;
		left: 70px;
		background: url("../../assets/media/bg-note.webp") no-repeat left / contain;
		color: var(--os-color-bg); /* journal entry text color */
		box-shadow: none;
		filter: drop-shadow(0 0 6px var(--os-color-primary));
		padding: var(--os-space-3);
		display: none;
		flex-direction: column;
		height: 455px;
		width: 455px;
		max-width: unset;
		font-family: var(--os-font-text);
		z-index: 2;
		
		/* scrollbar styling */
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; /* for Firefox */
		overflow-y: scroll;

		&::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/bottom-branch.webp) no-repeat center / contain;
			height: 46%;
			width: 55%;
			z-index: 1;
			pointer-events: none;
			bottom: -60px;
			right: -70px;
		}

		&::after {
			content: "";
			position: absolute;
			background: url(../../assets/media/feather.webp) no-repeat center / contain;
			height: 45%;
			width: 35%;
			z-index: 1;
			pointer-events: none;
			top: -80px;
			left: 45px;
		}

		&[style*="display: block"] {
			display: flex !important;
		}

		& .handle {
			margin-block-end: var(--os-space-2);
			display: flex;
			justify-content: space-between;
			align-items: left;
			padding-inline: var(--os-space-1);
			flex: none;

			& button {
				border: none;
				background: none;
				width: auto;
				color: var(--os-color-lines);

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
					text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
				}
			}
		}

		& .editor {
			padding-inline: var(--os-space-2);
		}

		& [role="application"] {
			height: 100% !important;
		}
	}

	& .os--character-backpack {
		isolation: isolate;
		position: absolute;
		right: -300px;
		width: 300px;
		height: 300px;
		top: -32px;
		pointer-events: none;

		& .os--backpack-bg-frame,
		& .os--backpack-bg {
			transform: translate(-10px, -20px) scale(0.8) rotate(2deg);
		}

		& .os--backpack-bg {
			height: 97%;
			width: 260px;
			pointer-events: all;

			& .taglist {
				height: 210px;
			}
		}
	}

	& .os--character-themes {
		position: relative;
	}

	& .os--character-theme {
		isolation: isolate;
		position: absolute;
		top: 0px;
		left: -225px;
		width: 300px;
		outline-offset: -2px;
		border-radius: 2px;
		translate: -20% -18%;
		rotate: 0deg;
		scale: 0.71;
		transition: scale 0.13s;
		filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 0.5));

		&:hover {
			scale: 0.85;
			z-index: 1;
		}

		&:first-child::before {
			content: "";
			position: absolute;
			background: url(../../assets/media/middle-branches.webp) no-repeat center / contain;
			height: 55%;
			width: 55%;
			z-index: 3;
			pointer-events: none;
			bottom: -80px;
			left: -63px;
			rotate: 115deg;
		}

		&:nth-child(2) {
			top: 16px;
			left: -22px;
			rotate: -1deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/raven.webp) no-repeat center / contain;
				height: 55%;
				width: 55%;
				z-index: 3;
				pointer-events: none;
				bottom: -150px;
				left: -80px;
				rotate: -10deg;
				transform: scale(-0.6, 0.6);
			}
		}

		&:nth-child(3) {
			top: 60px;
			left: 176px;
			rotate: 0deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/flowers-top.webp) no-repeat center / contain;
				height: 55%;
				width: 55%;
				z-index: 3;
				pointer-events: none;
				top: 280px;
				left: -90px;
				rotate: 10deg;
			}
		}

		&:nth-child(4) {
			top: 63px;
			left: 380px;
			rotate: 0deg;

			&::before {
				content: "";
				position: absolute;
				background: url(../../assets/media/bottom-frame-branches.webp) no-repeat center / contain;
				height: 55%;
				width: 120%;
				z-index: 0;
				pointer-events: none;
				top: -125px;
				left: -30px;
				rotate: 0deg;
			}
		}

		& .os--theme-background {
			overflow: hidden;
		}

		& .os--theme-top .os--theme-meta {
			padding-block: 12px;
		}
	}
}
