{{#*inline 'divider' title add}}
	<div class="os--challenge-divider {{ifThen add 'grid-4' ''}}">
		<img src="systems/os/assets/media/left-div.webp" aria-hidden="true" />
		<label for="limits">{{localize title}}</label>
		<img src="systems/os/assets/media/item-divider.webp" aria-hidden="true" />
		{{#if add}}
			<button class="os--challenge-add" type="button"
				data-click="{{concat 'add-' add}}"
				aria-label="{{localize (concat 'Os.ui.add-' add)}}"
				data-tooltip="{{localize (concat 'Os.ui.add-' add) }}">
				<i class="fa-plus far"></i>
			</button>
		{{/if}}
	</div>
{{/inline}}

<datalist id="os--challenge-types">
	{{#each data.system.challenges as |challenge|}}
		<option>{{localize (concat "Os.challenges." challenge)}}</option>
	{{/each}}
</datalist>
<img class="os--challenge-border"
	src="systems/os/assets/media/challenge-border.webp" aria-hidden="true">
<form class="{{cssClass}}" autocomplete="off">
	<div class="os--challenge-meta">
		<label class="os--sro"
			for="category">{{localize "Os.other.category"}}</label>
		<input list="os--challenge-types" type="text" data-size-input id="category"
			name="system.category" value="{{data.system.category}}" />
		<img src="systems/os/assets/media/separator.webp" alt="">
		<label class="os--sro" for="rating">{{localize "Os.other.rating"}}</label>
		<div role="button" class="os--challenge-rating" data-click="increase"
			data-context="decrease" data-name="system.rating">
			{{#progress-buttons data.system.rating 5}}
				<span aria-hidden="true" class="{{ifThen @checked 'checked' ''}}"><img
						src="systems/os/assets/media/target.webp" /></span>
			{{/progress-buttons}}
		</div>
		<input type="hidden" id="rating" name="system.rating"
			value="{{data.system.rating}}" />
	</div>
	<img class="os--challenge-avatar" src="{{data.img}}" data-edit="img"
		alt="{{data.name}}">
	<div class="os--challenge-bg"></div>
	<div class="os--challenge-wrapper">
		<label for="name" class="os--sro">{{localize "Name"}}</label>
		<input type="hidden" name="name" id="name" value="{{data.name}}" required />
		<span class="os--challenge-name" role="textbox" contenteditable
			data-input="name">{{data.name}}</span>
		<label class="os--sro" for="note">{{localize "Notes"}}</label>
		{{editor data.system.note target="system.note" owner=owner button=true editable=true}}
		{{> divider title="Os.other.limits" add="limit"}}
		<ul class="os--challenge-limits">
			{{#each data.system.limits as |limit|}}
				<li class="os--challenge-limit" data-context="remove-limit"
					data-id="{{@key}}">
					<label class="os--sro"
						for="limit-{{limit.name}}-name">{{localize "Name"}}</label>
					<input class="os--limit-label" type="text" data-size-input
						id="limit-{{limit.name}}-name" name="system.limits.{{@key}}.name"
						value="{{limit.name}}" />
					<label class="os--sro"
						for="limit-{{limit.name}}-value">{{localize "Value"}}</label>
					<input class="os--limit-value" type="number"
						id="limit-{{limit.name}}-value" name="system.limits.{{@key}}.value"
						placeholder="-" value="{{limit.value}}" min="1" max="6" />
				</li>
			{{/each}}
		</ul>
		{{> divider title="Os.ui.tags-statuses"}}
		<label class="os--sro" for="tags"
			id="tags-label">{{localize 'Os.other.tags'}}</label>
		<div class="os--challenge-tags">
			{{#if isEditing}}
				<span role="textbox" contenteditable data-input="tags"
					aria-labelledby="tags-label">{{data.system.tags}}</span><input
					type="hidden" id="tags" name="system.tags"
					value="{{data.system.tags}}" required />
			{{else}}
				<div id="tags" data-click="toggle-edit">
					{{{data.system.renderedTags}}}
				</div>
			{{/if}}
		</div>
		{{> divider title="Os.ui.special-features"}}
		{{editor data.system.special target="system.special" owner=owner button=true editable=true}}
		{{> divider title="Os.ui.threats-consequences" add="threat"}}
		<ul class="item-list os--challenge-threats">
			{{#each data.items as |item|}}
				<li class="item" data-dblclick="edit-item" data-context="remove-threat"
					data-id="{{item.data._id}}" data-item-id="{{item.data._id}}"
					data-tooltip="{{localize 'Os.ui.dblclick-open'}}">
					<div>> {{item.data.name}}</div>
					{{#each item.data.system.consequences as |consequence|}}
						<div>>> {{{consequence}}}</div>
					{{/each}}
				</li>
			{{/each}}
		</ul>
	</div>
</form>