<form class="{{cssClass}}" autocomplete="off">
	<img class="avatar" src="{{data.img}}" data-edit="img" alt="{{title}}">
	<label class="os--sro" for="name">{{localize "Name"}}</label>
	<input type="text" id="name" name="name" value="{{data.name}}" required>
	<div class="nav">
		<div>
			<span id="dice-roll-button--{{data._id}}">{{localize "Os.ui.roll-title"}}</span>
			<button type="button" data-click="open" data-id="roll" data-tooltip="{{localize 'Os.ui.roll'}}"
				aria-labelledby="dice-roll-button--{{data._id}}"><img src="systems/os/assets/media/dice.webp" alt="Dice"
					width="100px"></button>
		</div>
		<div>
			<span id="note-button--{{data._id}}">{{localize "Notes"}}</span>
			<button type=" button" data-click="open" data-id="note" data-tooltip="{{localize 'Notes'}}"
				aria-labelledby="note-button--{{data._id}}"><img src="systems/os/assets/media/note.webp" alt="Note"
					width="80px"></button>
		</div>
	</div>
	<div id="note">
		<div class="handle draggable">
			<span>{{localize 'Notes'}}</span>
			<button type="button" data-click="close" data-id="note" data-tooltip="{{localize 'Close'}}"><i
					class="far fa-xmark"></i></button>
		</div>
		<label class="os--sro">{{localize "Notes"}}</label>
		{{editor data.system.note target="system.note" owner=owner button=true editable=true}}
	</div>
	<div class="Loadout">
		<img width="300px" class="Loadout--img" src="systems/os/assets/media/Loadout.webp" />
		<div class="Loadout--bg">
			<div class="meta">{{localize 'Os.tags.item-tags'}}</div>
			<div class="title">{{localize 'Os.other.Loadout'}}</div>
			<ul class="taglist">
				{{#each data.system.Loadout as |tag|}}
					{{> systems/os/templates/partials/tag.html tag=tag key=@key path="system.Loadout" readonly=false remove=true}}
				{{/each}}
			</ul>
			<button type="button" data-click="add-tag">{{localize "Os.ui.add-tag"}}</button>
		</div>
	</div>
	<div class="os--character-themes item-list">
		{{#each items as |item|}}
			<div class="os--character-theme item" data-dblclick="edit" data-context="delete" data-id="{{item.data._id}}"
				data-item-id="{{item.data._id}}">
				{{> systems/os/templates/item/theme-ro.html data=item.data}}
			</div>
		{{/each}}
	</div>
</form>