<div class="dice-roll os" data-roll-id="{{rollId}}">
	<div class="dice-flavor">
		<span class="gmOnly">{{localize 'Os.ui.moderate-roll-gm'}}</span>
		<span class="playerOnly">{{localize 'Os.ui.moderate-roll-player'}}</span>
	</div>
	<div class="dice-effect">
		<p class="gmOnly"><em>{{name}} {{localize "Os.ui.moderate-roll-gm-hint"}}
				{{localize (concat "Os.ui.roll-" type)}}
				{{localize "Os.other.outcome"}}</em></p>
		<p class="playerOnly">
			<em>{{localize 'Os.ui.moderate-roll-player-hint'}}</em></p>
	</div>
	<div class="dice-result">
		{{> systems/os/templates/chat/message-tooltip.html data=tags expanded=true}}
		<h4 class="dice-total">{{localize 'Os.ui.total-power'}}: {{totalPower}}</h4>
		<button class="gmOnly os--roll-approve-button"
			data-click="approve-moderation">{{localize 'Os.ui.approve'}}</button>
		<button class="gmOnly os--roll-reject-button"
			data-click="reject-moderation">{{localize 'Os.ui.reject'}}</button>
		<button class="os--roll-skip-button playerOnly"
			data-click="skip-moderation">{{localize 'Os.ui.skip-moderation'}}</button>
	</div>
</div>