.os.dice-roll {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--os-space-1);
	padding: var(--os-space-3);
	background: transparent !important;
	/*background: url("/systems/os/assets/media/bg-alt.webp") repeat;*/
	border-top: 1px solid var(--os-color-lines-bg);
	border-radius: 0px;
	transition: all 0.15s;

	&:hover {
		box-shadow: 0 0 3px var(--os-color);

	}

	& .dice-flavor { /* effect title */
		font-family: var(--os-font-heading);
		font-size: var(--font-size-24);
		color: var(--os-color-bg);
		text-align: center;
	}

	& .dice-effect { /* describing effect & cost */
		& p:has(em) {
			color: var(--os-color-lines);
			font-family: var(--os-font-primary);
			font-size: var(--font-size-16);
			text-align: center;
		}
	}

	& .dice-result {
		width: 100%;
		margin: 0px auto;
		text-transform: uppercase;

		& .tooltip-part {
			margin-block: var(--os-space-1);
		}

		.part-flavor {
			&.burned {
				color: var(--os-color-burned);
			}

			&.positive {
				color: var(--os-color-status-bg);

			}

			&.negative {
				color: var(--os-color-limit-bg);
			}
		}
	}

	& .dice-total {
		background-color: var(--os-color-lines-bg);
		border: var(--os-color-lines);
		border-radius: 0px;
		color: var(--os-color-primary);
		font-family: var(--os-font-heading);
		font-weight: 300;
		font-size: var(--font-size-20);
		letter-spacing: 0.08rem;
		text-align: center;
		padding: var(--os-space-1);

		&:is(h4) {
			display: flex;
			flex-direction: column;
		}

		&.success {
			color: var(--os-color-success);
		}
		
		&.consequence {
			color: var(--os-color-mixed);
		}
		
		&.failure {
			color: var(--os-color-failure);
		}
	}

	& .reference {
		padding: 0.1em 0.5em;
		border-radius: 0px;
		border: 1px dashed var(--os-color-lines-bg);
		color: var(--os-color-lines);
	}

	& .os--dice-roll-subtle {
		color: color-mix(in hsl, var(--os-color-primary-bg) 80%, transparent);
		font-family: var(--os-font-primary);
		font-size: var(--font-size-12);
	}

	& .dice-result button {
		margin-block-start: var(--os-space-2);
		font-family: var(--os-font-sc);
		text-transform: uppercase;
		font-size: var(--font-size-11);
		font-weight: bold;
		background: transparent;
		border: 1px solid var(--os-color-lines);
		color: var(--os-color-lines);
		scale: 0.9;
		box-shadow: 0px 0px 6px 0px var(--os-color-lines-bg) !important;

		&.os--roll-approve-button {
			color: color-mix(in hsl, var(--os-color-status-bg) 70%, var(--os-color-accent));
			border-color: color-mix(in hsl, var(--os-color-status-bg) 70%, var(--os-color-accent));
		}

		&.os--roll-reject-button {
			color: color-mix(in hsl, var(--os-color-limit-bg) 70%, var(--os-color-accent));
			border-color: color-mix(in hsl, var(--os-color-limit-bg) 70%, var(--os-color-accent));
		}

		&.os--roll-burn-button {
			color: color-mix(in hsl, var(--os-color-weakness) 60%, var(--os-color-accent));
			border-color: color-mix(in hsl, var(--os-color-weakness) 60%, var(--os-color-accent));
		}

		&:hover {
			text-shadow: 1px 2px 4px var(--os-color-primary);
		}
	}
}

/* Moderation message */
.chat-message.message {
	& .gmOnly {
		display: none;
	}

	&[data-user="gm"] {
		& .gmOnly {
			display: block;
		}

		& .playerOnly {
			display: none;
		}
	}
}