.os.os--character .os--character-theme,
.os.os--theme {
	min-width: 300px;
	max-width: 500px;
	background: transparent;
	background-color: transparent;
	background-blend-mode: unset;
	padding: 0px;

	& .window-header {
		position: absolute;
		z-index: 1;
		width: 94%;
		margin: 8px 8px 0px 8px;
		color: var(--os-color-lines);
	}

	& form {
		overflow: hidden;
		overflow: clip;
	}

	& .os--theme-top {
		position: relative;

		& .os--theme-border-top {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}

		& .os--theme-top-bg {
			background: url('../../assets/media/theme-bg-top.webp');
			background-size: cover;
			background-repeat: no-repeat;
			margin: 7px 13px 0px 6px;
		}

		& .os--theme-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2px var(--os-space-2) var(--os-space-1);
			font-family: var(--os-font-primary);
			font-size: var(--font-size-12);
			padding-block-start: 24px;
			background: url('../../assets/media/theme-alt-bg-top.webp') no-repeat bottom / cover;

			&>* {
				width: min-content;
			}

			&>span {
				padding-block: 3px;
			}

			& .os--theme-meta-part {
				border: none;
				background-color: transparent;
				color: var(--os-color-primary-bg);
				font-family: var(--os-font-primary);
				font-size: var(--font-size-12);
				height: var(--font-size-14);
				line-height: var(--font-size-16);
				text-transform: uppercase;
				min-width: 10px;
				width: auto;

				&:focus {
					box-shadow: none;
				}

				&:last-of-type {
					color: color-mix(in hsl, var(--os-color-primary-bg) 75%, transparent);
					font-size: var(--font-size-11);
					margin-inline: auto 0;
					text-align: right;
				}


				&+span {
					font-size: var(--font-size-11);
					color: color-mix(in hsl, var(--os-color-primary-bg) 75%, transparent);
				}
			}
		}

		& .os--theme-legend {
			margin-block-start: var(--os-space-1);
			padding: var(--os-space-1) var(--os-space-3);
			display: flex;
			justify-content: center;
			align-items: baseline;
			text-transform: uppercase;
			font-family: var(--os-font-primary);
			font-size: var(--font-size-12);
			color: var(--os-color-bg);

			& span {

				&:last-of-type {
					color: var(--os-color-weakness);
				}
			}
		}

		& .os--theme-title {
			height: auto;
			margin: var(--os-space-1) 10px;
			display: flex;
			justify-content: space-between;
			align-items: left;
			gap: var(--os-space-2);
			color: var(--os-color);
			font-size: var(--font-size-16);
			background: transparent;
			border: 1px solid var(--os-color-lines);
			border-radius: 0px;
			border-left: 10px solid var(--os-color-lines);
			box-shadow: inset 0px 0px 5px 0px var(--os-color-lines-bg);
			transform: skew(-10deg);
			min-height:var(--font-size-20);

			& span {
				font-family: var(--os-font-sc);
				font-size: var(--font-size-20);
				color: var(--os-color-bg);
				text-transform: uppercase;
				text-align: left;
				border: none;
				background-color: transparent;
				margin-bottom: -0.85rem;
				transition: all 0.15s;

				*&:focus {
					outline: none;
					background-color: rgb(0, 0, 0, 0.1);
				}
			}

			& label {
				display: flex;
				cursor: pointer;
			}
		}

		& .os--tags {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: var(--os-space-3) 10px 0px;
			padding: 0px;


			& li {
				display: flex;
				align-items: center;
				gap: var(--os-space-3);
				color: var(--os-color);
				margin-block-start: -1px;
				background: transparent;
				border: 1px solid var(--os-color-lines);
				border-radius: 0px;
				border-left: 10px solid var(--os-color-lines);
				box-shadow: inset 0px 0px 5px 0px var(--os-color-lines-bg);
				transform: skew(-10deg);
				margin-bottom: 10px;

				/*&:nth-child(odd) {
					background-image: linear-gradient(to right, transparent, rgba(69, 59, 29, 0.1), transparent);
				}

				&:last-child {
					.tag--name {
						border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
					}
				}*/

				& .tag--name {
					color: var(--os-color-bg);
					text-align: left;
					padding-block: 0.4rem;
					min-height: var(--font-size-16);
					height: auto;
					font-family: var(--os-font-sc);
					font-size: var(--font-size-16);
					color: var(--os-color-bg);
					text-transform: uppercase;
					width: 100%;
					border: none;
					background-color: transparent;

					&:focus,
					&:active {
						box-shadow: none;
						background: transparent;
					}

					&:read-only {
						cursor: default;
						user-select: none;
					}
				}

				& label {
					display: flex;
					--checkbox-size: 10px;
					cursor: pointer;
				}

				& button {
					background-color: transparent;
					border: none;
					/*color: var(--os-color-contrast);*/
					cursor: pointer;
					font-size: 1rem;
					line-height: 1;
					padding: 0;
					transition: color 0.2s;
					width: min-content;

					&:hover {
						box-shadow: none;
						text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
					}
				}
			}
		}

		& .os--weakness {
			display: flex;
			align-items: center;
			text-align: left;
			padding: 0px var(--os-space-3) 0px;
			margin-left: 10px;
			margin-right: 10px;
			max-width: 100%;
			background: repeating-linear-gradient(130deg, rgba(198, 255, 0, 0.1) 0%, rgba(198, 255, 0, 0.1) 5%, rgba(255,255,0,0) 5%, rgba(255,255,0,0) 10%);
			border: 1px solid var(--os-color-weakness);
			border-left: 10px solid var(--os-color-weakness);
			border-radius: 0px;
			box-shadow: inset 0px 0px 5px 0px var(--os-color-weakness-bg);
			transform: skew(-10deg);
			

			& .os--weakness-part {
				height: auto;
				min-height: var(--font-size-14);
				border: none;
				border-radius: 0px;
				padding-block: var(--os-space-2);
				background-color: transparent;
				color: var(--os-color-weakness);
				font-family: var(--os-font-sc);
				text-shadow: 0 0 6px var(--os-color);
				text-transform: uppercase;
				text-align: center;
				z-index: 3;

				&:focus,
				&:active {
					box-shadow: none;
				}
			}

			& button {
				background-color: transparent;
				border: none;
				color: var(--os-color);
				cursor: pointer;
				font-size: 1rem;
				line-height: 1;
				padding: 0;
				transition: color 0.2s;
				width: min-content;

				&:hover {
					box-shadow: none;
					text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
				}
			}
		}

		& .os--theme-progression {
			padding: var(--os-space-4) var(--os-space-3) 14px;
			display: flex;
			justify-content: space-between;
			background: url(../../assets/media/progress-bg.webp);
			background-position: center;
			background-size: cover;
			margin-inline: -7px;

			&>div {
				position: relative;
				display: flex;
				align-items: center;
				gap: var(--os-space-1);
				cursor: pointer;
				font-size: var(--font-size-16);

				&:first-child::before {
					content: "";
					position: absolute;
					background: url(../../assets/media/connector.webp) no-repeat center / contain;
					top: -62px;
					left: 4px;
					height: 300px;
					width: 10px;
					z-index: 1;
				}
			}

			& label {
				margin-top: 5px;
				text-transform: uppercase;
				font-family: var(--os-font-primary);
				font-size: var(--font-size-12);
				cursor: pointer;
			}
		}
	}

	& .os--theme-bottom {
		flex: 1;
		position: relative;
		overflow: hidden;
		overflow: clip;

		& .os--theme-border-bottom {
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}

		& .os--theme-bottom-bg {
			height: 94%;
			margin: 0px 12px 0px 4px;
			display: flex;
			flex-direction: column;
			background: url("../../assets/media/theme-bg-bottom.webp");
			background-color: var(--os-color-accent-bg);
			background-blend-mode: unset;
			overflow: hidden;
			overflow: clip;
		}

		& .motivation {
			margin: var(--os-space-1) var(--os-space-3);
			display: flex;
			color: var(--os-color-weakness);
			font-family: var(--os-font-heading);
			font-size: var(--font-size-18);
			text-align: left;

			& [role="textbox"] {
				background: transparent;
				color: var(--os-color-accent);
				font-family: var(--os-font-accent);
				border: none;
				border-radius: 0px;
				margin-inline: auto;
				letter-spacing: 1px;
				transition: all 0.15s;
				min-width: 50%;

				&:focus {
					outline: none;
					background-color: rgb(0, 0, 0, 0.1);
				}

				&:empty {
					background-color: rgb(0, 0, 0, 0.1);
				}

				&::before {
					content: "“";
					margin-inline-start: 1px;
				}

				&::after {
					content: "\"";
					margin-inline-start: 4px;
				}
			}
		}

		& .note {
			display:none;
			flex: 1;
			background-image: radial-gradient(#999 -150%, transparent 70%);
			color: var(--os-color-primary-bg);
			-webkit-font-smoothing: antialiased;
			font-family: var(--os-font-text);
			font-size: var(--font-size-14);
			letter-spacing: 1px;
			text-align: center;
			line-height: 1.45;
			overflow: hidden;
			overflow: clip;

			& .editor {
				padding: 0px 16px 1.5rem;
				scrollbar-color: var(--os-color-accent-2) transparent;
			}

			& [role="application"] {
				height: 100% !important
			}
		}
	}
}