.os.os--character .os--character-theme,
.os.os--theme {
	min-width: 300px;
	max-width: 500px;
	background: transparent;
	background-color: transparent;
	background-blend-mode: unset;
	padding: 0px;
	outline: none;

	& .window-header {
		position: absolute;
		z-index: 1;
		width: 100%;
		margin: -40px 8px 0px 8px;
		color: var(--os-color-lines);
	}

	& form {
		overflow: clip;
	}

	& .os--theme-top {
		position: relative;

		& .os--theme-border-top {
			position: absolute;
			top: -15px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}

		/* PRIMARY THEMECARD BACKGROUND */
		& .os--theme-top-bg {
			background-color: var(--os-color-self-bg);
			margin: 15px 13px 0px 6px;
			
			.noise & { 
				background: var(--os-color-noise-bg);
			}

			.mythos & { 
				background: var(--os-color-mythos-bg);
			}
			
			.crew & { 
				background: var(--os-color-crew-bg);
			}
			
			.loadout & { 
				background: var(--os-color-loadout-bg);
			}
		}

		& .os--theme-meta {
			display: flex;
			align-items: center;
			/*justify-content: space-evenly;*/
			padding: var(--os-space-3) var(--os-space-1);
			font-family: var(--os-font-primary);
			font-size: var(--font-size-12);
			padding-top: 15px;
			margin-bottom: 3px;
			background: var(--theme-src) no-repeat bottom / cover;
/*			
			background-image: url('../../assets/media/theme-alt-bg-top-self.webp') no-repeat bottom / cover;			
			.noise & { 
				background-image: url('../../assets/media/theme-alt-bg-top-noise.webp');
			}
			.mythos & { 
				background-image: url('../../assets/media/theme-alt-bg-top-mythos.webp');
			}			
			.crew & { 
				background-image: url('../../assets/media/theme-alt-bg-top-crew.webp');
			}			
			.loadout & { 
				background-image: url('../../assets/media/theme-alt-bg-top-loadout.webp');
			}
*/
			&>* {
				width: min-content;
			}

			&>span {
				padding-block: 3px;
			}

			& .os--theme-meta-part {
				border: none;
				background-color: transparent;
				color: var(--os-color-primary-bg);
				font-family: var(--os-font-primary);
				font-size: var(--font-size-14);
				height: var(--font-size-16);
				text-transform: uppercase;
				min-width: 10px;
				width: auto;

				&::-webkit-calendar-picker-indicator {
					display: none !important;
				}

				&:focus,
				&:active {
					box-shadow: none;
				}
				
				&:last-child {
					font-size: var(--font-size-11);
					margin-inline: auto 0;
					text-align: right;
				}
			}
		}

		& .os--theme-legend {
			margin-block-end: var(--os-space-3);
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			text-transform: uppercase;
			font-family: var(--os-font-primary);
			font-size: var(--font-size-12);
			color: var(--os-color-bg);

			& span {
				
				&:first-of-type { /* power tag Legend styling */
					border: 1px solid var(--os-color-lines);
					padding-left: 0.4em;
					padding-right: 0.4em;
					margin-right: 0.2em;
				}

				&:last-of-type { /* weakness tag Legend styling */
					color: var(--os-color-weakness);
					background: repeating-linear-gradient(130deg, rgba(198, 255, 0, 0.1) 0%, rgba(198, 255, 0, 0.1) 5%, rgba(255,255,0,0) 5%, rgba(255,255,0,0) 10%);
					border: 1px solid var(--os-color-weakness);
					padding-left: 0.4em;
					padding-right: 0.4em;
					margin-right: 0.2em;
				}
			}
		}

		& .os--theme-title {
			margin-inline: 10px;
			margin-bottom: 10px;
			padding-block: var(--os-space-1) var(--os-space-2);
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: var(--os-space-2);
			color: var(--os-color-bg);
			font-size: var(--font-size-18);
			background: transparent;
			border: 1px solid var(--os-color-lines);
			border-radius: 0px;
			border-left: 10px solid var(--os-color-lines);
			box-shadow: inset 0px 0px 5px 0px var(--os-color-lines-bg);
			transform: skew(-10deg);

			& .os--theme-name {
				font-family: var(--os-font-sc);
				font-size: var(--font-size-24);
				border: none;
				background-color: transparent;
				text-align: left;
				line-height: 1;
				text-transform: uppercase;
				margin-left: 10px;
				/*margin-bottom: -0.35rem;*/
				transition: background-color 0.15s;

				&:focus {
					outline: none;
					background-color: rgb(0, 0, 0, 0.1);
				}
			}

			& label {
				display: flex;
				cursor: pointer;
			}
		}

		& .os--theme-tags {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0px 10px 0px;
			padding: 0px;

			& .os--theme-tag {
				display: flex;
				align-items: center;
				width: 100%;
				gap: var(--os-space-3);
				color: var(--os-color-bg);
				margin-block-start: -1px;
				margin-block-end: 10px;
				text-align: left;
				background: transparent;
				border: 1px solid var(--os-color-lines);
				border-radius: 0px;
				border-left: 10px solid var(--os-color-lines);
				box-shadow: inset 0px 0px 5px 0px var(--os-color-lines-bg);
				transform: skew(-10deg);
				

				&:nth-child(odd) {
					background-color: linear-gradient(to right, transparent, rgba(69, 59, 29, 0.15), transparent);
				}

				&:last-child {
					.tag--name {
						border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
					}
				}

				& .tag--name {
					text-align: left;
					text-transform: uppercase;
					border: none;
					border-radius: 0px;
					padding-block: var(--os-space-2);
					min-height: var(--font-size-14);
					font-size: var(--font-size-16);
					height: auto;
					background-color: transparent;
					font-family: var(--os-font-text);
					color: var(--os-color-bg);
					width: 100%;

					&:focus,
					&:active {
						box-shadow: none;
					}
				}

				& label {
					display: flex;
					--checkbox-size: 10px;
				}
			}
		}

		/* WEAKNESS TAG STYLING */
		& .os--weakness {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: var(--os-space-2);
			margin-left: 10px;
			margin-right: 10px;
			max-width: 100%;
			background: repeating-linear-gradient(130deg, rgba(198, 255, 0, 0.15) 0%, rgba(198, 255, 0, 0.15) 5%, rgba(255,255,0,0) 5%, rgba(255,255,0,0) 10%);
			border: 1px solid var(--os-color-weakness);
			border-left: 10px solid var(--os-color-weakness);
			border-radius: 0px;
			box-shadow: inset 0px 0px 5px 0px var(--os-color-weakness-bg);
			transform: skew(-10deg);

			& .os--weakness-part {
				color: var(--os-color-weakness);
				font-family: var(--os-font-sc);
				text-align: left;
				text-transform: uppercase;
				width: 100%;
				height: auto;
				font-size: var(--font-size-16);
				border: none;
				border-radius: 0px;
				padding-block: var(--os-space-2);
				background-color: transparent;
				margin: 0px 10px 0px;

				&:focus,
				&:active {
					box-shadow: none;
				}
			}
		}
		
		/* UPGRADE & DECAY STYLING */
		& .os--theme-progression {
			padding: var(--os-space-3) 8px 8px;
			display: flex;
			justify-content: space-between;

			&>div {
				position: relative;
				display: flex;
				align-items: center;
				gap: var(--os-space-1);
				cursor: pointer;
				font-size: var(--font-size-16);
			}

			& label {
				margin-top: 5px;
				text-transform: uppercase;
				font-family: var(--os-font-primary);
				font-size: var(--font-size-12);
				color: var(--os-color-lines);
				cursor: pointer;
			}
		}
	}

	& .os--theme-bottom {
		flex: 1;
		position: relative;
		overflow: hidden;
		overflow: clip;

		& .os--theme-border-bottom {
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}

		& .os--theme-bottom-bg {
			height: 100%;
			margin: 0px 12px 0px 4px;
			display: flex;
			flex-direction: column;
			background: var(--theme-src);
			/*background-color: var(--os-color-self-alt);*/
			background-blend-mode: unset;
			overflow: hidden;
			overflow: clip;
/*
			.noise & {
				background-color: var(--os-color-noise-alt);
			}

			.mythos & {
				background-color: var(--os-color-mythos-alt);
			}
			
			.crew & {
				background-color: var(--os-color-crew-alt);
			}
			
			.loadout & {
				background-color: var(--os-color-loadout-alt);
			}		
*/			
		}
		
		/* RITUAL, SACRIFICE, ITCH STYLING */
		& .motivation {
			margin: var(--os-space-2) var(--os-space-3);
			display: flex;
			text-align: left;

			& [role="textbox"] {
				background: transparent;
				color: var(--os-color-lines);
				font-family: var(--os-font-heading);
				font-size: var(--font-size-20);
				font-style: italic;
				font-weight: 600;
				border: none;
				border-radius: 0px;
				margin-inline: auto;
				line-height: 1.25rem;
				letter-spacing: 1px;
				transition: all 0.15s;
				min-width: 50%;

				&:focus {
					outline: none;
					background-color: rgb(0, 0, 0, 0.1);
				}

				&:empty {
					background-color: rgb(0, 0, 0, 0.1);
				}

				&::before {
					content: "“";
					margin-inline-start: 0px;
				}

				&::after {
					content: "\"";
					margin-inline-start: 0px;
				}
			}
		}

		& .note {
			flex: 1;
			background-image: linear-gradient(#000 -150%, transparent 70%);
			color: var(--os-color-primary-bg);
			-webkit-font-smoothing: antialiased;
			font-family: var(--os-font-text);
			font-size: var(--font-size-14);
			letter-spacing: 1px;
			text-align: left;
			line-height: 1.45;
			overflow: auto;

			& .editor {
				padding: 0px 16px 1.5rem;
				scrollbar-color: var(--os-color-accent-2) transparent;
			}

			& [role="application"] {
				height: 100% !important
			}
		}
	}
}