.os.os--threat {
	background-color: var(--os-color-primary);
	background-blend-mode: luminosity;
	font-family: var(--os-font-text);
	font-size: var(--font-size-16);
	outline: 1px solid var(--os-color-lines);
	outline-offset: 0px;
	padding: 10px;

	& header {
		color: var(--os-color-lines); /* header window icons */		
	}

	& form {
		color: var(--os-color-bg);
		padding: 0px var(--os-space-2);
	}

	& h2 {
		text-align: center;
		border: none;
		font-family: var(--os-font-heading);
		color: var(--os-color-bg);
	}

	& .os--threat-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--os-space-2);
		padding-inline-start: var(--os-space-3);
		list-style: none;
		border-bottom: 1px solid var(--os-color-lines);

		& li {
			display: flex;
			gap: var(--os-space-1);
			transform: skew(-10deg);
		}
	}

	& [contenteditable] {
		background-color: transparent;
		padding: var(--os-space-1);
		border: none;
		border-radius: 0px;
		width: 100%;

		&:focus {
			background-color: rgb(0, 0, 0, 0.2);
			outline: none;
		}
	}

	& [contenteditable]:has(+#threat) {
		font-style: italic;
	}

	& [id^=consequence-] {
		font-weight: 500;
		min-width: 50px;

		&:empty {
			background-color: rgb(0, 0, 0, 0.2);
		}
	}

	& [contenteditable]:has(+[id^=consequence-]) {
		min-height: 20px;
		cursor: pointer;

		span& {
			cursor: text;
		}

		&:empty {
			background-color: rgb(0, 0, 0, 0.2);
		}
	}

	& button[data-click="add-consequence"] {
		margin-inline: 4px 3rem;
		padding-bottom: var(--os-space-2);
		width: auto;
		border: none;
		border-radius: 0px;
		border-top: 1.5px solid var(--os-color-weakness);
		/*border-image: url(../../assets/media/tag-divider.webp) 14 / 3;*/
		background-color: transparent;
		color: var(--os-color-weakness);
		font-size: var(--font-size-16);
		font-family: var(--os-font-accent);
		transition: all 0.15s;
		text-align: left;

		&:hover {
			box-shadow: none;
			text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
		}
	}
}