<datalist id="os--themebook">
	{{#each data.system.themebooks as |themebook|}}
		<option>{{localize (concat "Os.themes." themebook)}}</option>
	{{/each}}
</datalist>

<form class="{{cssClass}} {{data.system.level}}" autocomplete="off">
	<div class="os--theme-top">
		<img class="os--theme-border-top" src="{{themesrc}}-theme-border-top.webp"
			aria-hidden="true" />
		<div class="os--theme-top-bg">
			<div class="os--theme-meta"
				style="--theme-src:url('/{{themesrc}}-theme-alt-bg-top.webp');">
				<input list="os--themebook" class="os--theme-meta-part" type="text"
					name="system.themebook" data-size-input
					value="{{data.system.themebook}}" />
				<select class="os--theme-meta-part" type="text" name="system.level"
					value="{{data.system.level}}">
					{{selectOptions data.system.levels selected=data.system.level}}
				</select>
			</div>
			<div class="os--theme-legend">
				<span>{{localize "Os.tags.power"}}
					{{localize "Os.other.tags"}}</span><span>{{localize "Os.tags.weakness"}}
					{{localize "Os.other.tag"}}</span>
			</div>
			<div class="os--theme-title">
				<!-- isActive checkbox -->
				<label class="os--sro" for="name--isActive"
					aria-label="{{localize (tagActiveString data.system false)}}"></label>
				<input class="os--checkbox-with-bg os--checkbox" type="checkbox"
					id="name--isActive" name="system.isActive"
					data-tooltip="{{localize (tagActiveString data.system false)}}" {{checked
					data.system.isActive}} />
				<!-- Name input -->
				<input type="hidden" name="name" id="name" value="{{title}}" required />
				<span class="os--theme-name" role="textbox" contenteditable
					data-input="name">{{title}}</span>
				<!-- isBurnt checkbox -->
				<label>
					<span
						class="os--sro">{{localize (ifThen data.system.isBurnt "Os.tags.isBurnt" "Os.tags.burn")}}</span>
					<input class="os--burn" type="checkbox" name="system.isBurnt"
						data-tooltip="{{localize (ifThen data.system.isBurnt 'Os.tags.isBurnt' 'Os.tags.burn')}}" {{checked
						data.system.isBurnt}} />
				</label>
			</div>
			<ul class="os--theme-tags">
				{{#each data.system.powerTags as |tag|}} {{> systems/os/templates/partials/tag.html
				tag=tag key=@key path="system.powerTags"}} {{/each}}
			</ul>
			{{#each data.system.weaknessTags as |tag|}}
				<div class="os--weakness">
					<!-- Name -->
					<input class="os--weakness-part" type="text"
						name="system.weaknessTags.0.name" value="{{name}}" />
					<!-- The way foundry validates data these have to be present else validation fails -->
					<input type="hidden" name="system.weaknessTags.0.type"
						value="{{type}}" />
					<input type="hidden" name="system.weaknessTags.0.id" value="{{id}}" />
					<input type="hidden" name="system.weaknessTags.0.isBurnt"
						data-dtype="Boolean" value="{{isBurnt}}" />
					<input type="hidden" name="system.weaknessTags.0.isActive"
						data-dtype="Boolean" value="{{isActive}}" />
				</div>
			{{/each}}
			<!-- Add Tag button -->
			<!-- Might Reimplement later -->
			<!-- <button type="button" data-click="add-tag">{{localize "Os.ui.add-tag"}}</button> -->
			<div class="os--theme-progression">
				<!-- Experience buttons -->
				<div data-click="increase" data-context="decrease"
					data-id="system.experience"
					data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					{{#progress-buttons data.system.experience 3}}
						<span
							class="os--checkbox os--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
					<input class="os--sro" id="experience" type="number"
						name="system.experience" value="{{data.system.experience}}" />
					<label for="experience">{{localize "Os.other.experience"}}</label>
				</div>
				<!-- Decay buttons -->
				<div data-click="increase" data-context="decrease"
					data-id="system.decay" data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					{{#progress-buttons data.system.decay 3}}
						<span
							class="os--checkbox os--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
					<input type="number" id="decay" class="os--sro" name="system.decay"
						value="{{data.system.decay}}" />
					<label for="decay">{{localize "Os.tags.decay"}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="os--theme-bottom">
		<img class="os--theme-border-bottom"
			src="{{themesrc}}-theme-border-bottom.webp" aria-hidden="true" />
		<div class="os--theme-bottom-bg"
			style="--theme-src:url('/{{themesrc}}-theme-bg-bottom.webp');">
			<div class="motivation">
				<label class="os--sro"
					for="motivation">{{localize "Os.other.motivation"}}</label>
				<input class="os--sro" type="text" name="system.motivation"
					id="motivation" value="{{data.system.motivation}}" required />
				<span role="textbox" contenteditable
					data-input="motivation">{{data.system.motivation}}</span>
			</div>
			<div class="note">
				{{editor data.system.note target="system.note" owner=owner button=true editable=true}}
			</div>
		</div>
	</div>
</form>