<!-- Readonly version of the Theme template -->
<!-- Intended for use embedded on a character sheet -->
<input type="hidden" name="items.{{data._id}}.type" value="{{data.type}}" />
<div class="os--theme-background {{data.system.level}}" data-context="menu"
	data-tooltip="{{localize 'Os.ui.context-edit'}}" data-tooltip-direction="LEFT">
	<div class="os--theme-top">
		<img class="os--theme-border-top" src="systems/os/assets/media/theme-border-top-{{themesrc}}.webp"
			aria-hidden="true" />
		<div class="os--theme-top-bg">
			<div class="os--theme-meta">
				<span class="os--theme-meta-part" style="text-align: left;">{{data.system.themebook}}</span>
				<span class="os--theme-meta-part">{{localize data.system.level}}</span>
			</div>
			<div class="os--theme-legend">
				<span>{{localize "Os.tags.power"}}
					{{localize "Os.other.tags"}}</span><span>{{localize "Os.tags.weakness"}} <!-- removed separator -->
					{{localize "Os.other.tag"}}</span>
			</div>
			<button type="button" class="os--theme-title" data-id="{{data._id}}"
				{{#if (includes @root.rollTags data._id 'id')}}data-selected{{/if}}
				{{#if data.system.isActive}}data-click="select"
				data-tooltip="{{localize (ifThen data.system.isBurnt 'Os.ui.toggle-burnt' 'Os.ui.toggle-roll')}}"
				{{/if}}>
				<!-- isActive checkbox -->
				<span class="os--sro">{{localize (tagActiveString data.system true)}}</span>
				<!-- HIDDEN <span class="os--checkbox os--checkbox-with-bg {{checked data.system.isActive}}"></span> -->
				<!-- Name input -->
				<span class="os--theme-name">{{data.name}}</span>
				<!-- isBurnt checkbox -->
				<span class="os--sro">{{localize (ifThen data.system.isBurnt 'Os.tags.isBurnt' 'Os.tags.burn')}}</span>
				<span class="os--burn {{checked (or data.system.isBurnt (includes @root.burntTags data._id 'id'))}}"
					aria-hidden="true"></span>
			</button>
			<ul class="os--theme-tags">
				{{#each data.system.powerTags as |tag|}} {{> systems/os/templates/partials/tag.html
				tag=tag key=@key path=(concat 'items.' ../data._id '.system.powerTags') embedded=true}}
				{{/each}}
			</ul>
			<!-- Weakness -->
			{{#each data.system.weaknessTags as |tag|}}
				<button type="button" class="os--weakness" data-click="select"
					data-tooltip="{{localize 'Os.ui.toggle-weakness-roll'}}" data-id="{{tag.id}}"
					{{#if (includes @root.rollTags tag.id 'id')}}data-selected{{/if}}>
					<!-- Weakness Name -->
					<span class="os--weakness-part">{{tag.name}}</span>
				</button>
			{{/each}}
			<div class="os--theme-progression">
				<!-- Upgrade buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.experience"
					data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					{{#progress-buttons data.system.experience 3}}
						<span class="os--checkbox os--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
					<label for="{{data._id}}-experience">{{localize "Os.other.experience"}}
						<input id="{{data._id}}-experience" type="number" class="os--sro"
							name="items.{{data._id}}.system.experience" value="{{data.system.experience}}" />
					</label>
				</div>
				<!-- Decay buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.decay"
					data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					<label for="{{data._id}}-decay">{{localize "Os.tags.decay"}}</label>
					{{#progress-buttons data.system.decay 3}}
						<span class="os--checkbox os--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
						<input id="{{data._id}}-decay" type="number" class="os--sro"
							name="items.{{data._id}}.system.decay" value="{{data.system.decay}}" />
				</div>
			</div>
		</div>
	</div>
	<div class="os--theme-bottom">
		<img class="os--theme-border-bottom" src="systems/os/assets/media/theme-border-bottom-{{themesrc}}.webp"
			aria-hidden="true" />
		<div class="os--theme-bottom-bg">
			<div class="motivation">
				<span role="textbox">{{data.system.motivation}}</span>
				<input type="hidden" name="items.{{data._id}}.system.motivation" value="{{data.system.motivation}}" />
			</div>
			<div class="note">
				{{editor data.system.note target='items.{{data._id}}.system.note' owner=owner
				editable=false}}
				<input type="hidden" name="items.{{data._id}}.system.note" value="{{data.system.note}}" />
			</div>
		</div>
	</div>
</div>