<!-- Readonly version of the Theme template -->
<!-- Intended for use embedded on a character sheet -->
<input type="hidden" name="items.{{data._id}}.type" value="{{data.type}}" />
<div class="os--theme-background" data-tooltip="{{localize 'Os.ui.dblclick-open'}}" data-tooltip-direction="LEFT">
	<div class="os--theme-top">
		<img class="os--theme-border-top" src="systems/os/assets/media/theme-border-top.webp" aria-hidden="true">
		<div class="os--theme-top-bg">
			<div class="os--theme-meta">
				<span class="os--theme-meta-part">{{data.system.themebook}}</span>
				<span class="os--theme-meta-part">{{data.system.level}} THEME</span>
			</div>
			<div class="os--theme-legend">
				<span>{{localize "Os.tags.power"}}
					{{localize "Os.other.tags"}}</span><span>・</span><span>{{localize "Os.tags.weakness"}}
					{{localize "Os.other.tag"}}</span>
			</div>
			<div class="os--theme-title">
				<!-- isActive checkbox -->
				<label><span class="os--sro">{{localize (tagActiveString data.system true)}}</span>
					<input class="os--checkbox os--checkbox-with-bg" type="checkbox" name="items.{{data._id}}.system.isActive"
						data-tooltip="{{localize (tagActiveString data.system true)}}" disabled {{checked data.system.isActive}}>
				</label>
				<!-- Name input -->
				<span>{{data.name}}</span>
				<input type="hidden" name="items.{{data._id}}.name" value="{{data.name}}" />
				<!-- isBurnt checkbox -->
				<label><span
						class="os--sro">{{localize (ifThen data.system.isBurnt 'Os.tags.isBurnt' 'Os.tags.burn')}}</span>
					<input class="os--burn" type="checkbox" name="items.{{data._id}}.system.isBurnt"
						data-tooltip="{{localize (ifThen data.system.isBurnt 'Os.tags.isBurnt' 'Os.tags.burn')}}"
						{{checked data.system.isBurnt}} />
				</label>
			</div>
			<ul class="os--tags">
				{{#each data.system.powerTags as |tag|}}
					{{> systems/os/templates/partials/tag.html tag=tag key=@key path=(concat 'items.' ../data._id '.system.powerTags') readonly=true}}
				{{/each}}
			</ul>
			{{#with data.system.weakness as |tag|}}
				<div class="os--weakness">
					<!-- Name -->
					<span class="os--weakness-part">{{tag.name}}</span>
				</div>
			{{/with}}
			<div class="os--theme-progression">
				<!-- Experience buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.experience"
					data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					{{#progress-buttons data.system.experience 3}}
						<span class="os--checkbox os--checkbox-with-bg {{ifThen @checked 'checked' ''}}"></span>
					{{/progress-buttons}}
					<label for="{{data._id}}-experience">{{localize "Os.other.experience"}}
						<input id="{{data._id}}-experience" type="number" class="os--sro"
							name="items.{{data._id}}.system.experience" value="{{data.system.experience}}" />
					</label>
				</div>
				<!-- Decay buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.decay"
					data-tooltip="{{localize 'Os.ui.inc-dec'}}">
					{{#progress-buttons data.system.decay 3}}
						<span class="os--checkbox os--checkbox-with-bg {{ifThen @checked 'checked' ''}}"></span>
					{{/progress-buttons}}
					<label for="{{data._id}}-decay">{{localize "Os.tags.decay"}}
						<input id="{{data._id}}-decay" type="number" class="os--sro" name="items.{{data._id}}.system.decay"
							value="{{data.system.decay}}" />
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="os--theme-bottom">
		<img class="os--theme-border-bottom" src="systems/os/assets/media/theme-border-bottom.webp" aria-hidden="true">
		<div class="os--theme-bottom-bg">
			<div class="motivation">
				<span role="textbox">{{data.system.motivation}}</span>
				<input type="hidden" name="items.{{data._id}}.system.motivation" value="{{data.system.motivation}}" />
			</div>
			<div class="note">
				{{editor data.system.note target='items.{{data._id}}.system.note' owner=owner editable=false}}
				<input type="hidden" name="items.{{data._id}}.system.note" value="{{data.system.note}}">
			</div>
		</div>
	</div>
</div>