:root {
	--os-color-bg: hsl(0, 0%, 95%); /* light grey */
	--os-color: hsl(210, 23%, 24%); /* dark greyBlue */
	--os-color-alt-bg: hsl(194, 25%, 90%); /* med greyBlue */
	--os-color-dark-bg: hsl(0, 0%, 45%); /* dark grey */
	--os-color-accent-bg: hsl(225, 10%, 40%); /* dark steel */
	--os-color-accent: hsl(197, 20%, 93%); /* light greyBlue */
	--os-color-accent-2: hsl(210, 15%, 44%); /* medDark steel */
	--os-color-accent-3: hsl(208, 15%, 25%); /* dark steel */
	--os-color-primary-bg: color-mix(in hsl, var(--os-color-accent) 75%, hsl(0 0% 100%));
	--os-color-primary: color-mix(in hsl, var(--os-color) 75%, hsl(0 0% 0%));
	--os-color-row-odd: rgb(0, 0, 0, 0.1);
	--os-color-lines: hsl(185, 31%, 77%); /* sea glass */
	--os-color-lines-bg: hsla(185 31% 77% / 50%); /* sea glass darker*/	
	--os-color-muted-bg: hsla(0 0% 45.42% / 20%); /* medDark grey */

	/* OS Palettes */
	--os-color-noise: hsl(198, 77%, 62%);  /* blue */
	--os-color-noise-bg: hsl(199, 59%, 13%);  /* blue dark */
	--os-color-noise-alt: hsl(199, 69%, 34%);  /*  blue medium */
	
	--os-color-mythos: hsl(280, 27%, 53%);  /* purple */
	--os-color-mythos-bg: hsl(258, 45%, 19%);  /*  purple dark */
	--os-color-mythos-alt: hsl(276, 25%, 29%);  /*  purple medium */
	
	--os-color-self: hsl(339, 77%, 54%);  /* red */
	--os-color-self-bg: hsl(276, 24%, 17%);  /* red dark*/
	--os-color-self-alt: hsl(337, 68%, 44%);  /*  red medium */
	
	--os-color-crew: hsl(210, 23%, 50%);  /* default */
	--os-color-crew-bg: hsl(347, 100%, 10%);  /*  dark */
	--os-color-crew-alt: hsl(209, 20%, 43%); /*  medium */
	
	--os-color-loadout: hsl(177, 28%, 56%);   /* default */
	--os-color-loadout-bg: hsl(176, 24%, 18%);  /*  dark */
	--os-color-loadout-alt: hsl(177, 27%, 39%);  /*  medium */
	
	--os-color-weakness: hsl(76, 60%, 49%); /* lime */
	--os-color-weakness-bg: hsl(74, 38%, 27%); /* lime dark*/
	
	--os-color-tag-bg: hsla(56 90% 55% / 100%);  /* story tag yellow */
	--os-color-status-bg: hsla(168 80% 55% /100%);  /* status tag neon blue-green */
	--os-color-limit-bg: hsla(73 100% 50% / 100%); /* limit neon green */
	
	--os-color-burned: hsl(35, 95%, 54%); /* burned neon orange */
	--os-color-success: hsl(144, 76%, 71%); /* green */
	--os-color-mixed: hsl(183, 76%, 66%); /* blue */
	--os-color-failure: hsl(0, 100%, 45%); /* red */

	/* Fonts */
	--os-font-heading: Bebas Neue, Saira Condensed, Saira, sans-serif;
	--os-font-primary: Saira, sans-serif;
	--os-font-accent: Saira Italic, sans-serif;
	--os-font-text: Saira Semi, sans-serif;
	--os-font-sc: Saira Condensed, Saira, sans-serif;

	/* Vertical spacing */
	--os-space-1: 0.25rem;
	--os-space-2: 0.5rem;
	--os-space-3: 1rem;
	--os-space-4: 2rem;
	--os-space-5: 4rem;

	/* Foundry Overrides */
	--font-size-26: 1.625rem;
	--font-primary: Saira, Saira Semi, sans-serif;
	--color-text-light-1: var(--os-color-accent);
	--color-shadow-primary: var(--os-color-primary);
	--color-shadow-highlight: var(--os-color-accent-bg);
	--color-border-highlight: var(--os-color-accent-bg);
	--color-border-highlight-alt: var(--os-color-accent-2);
	--color-text-hyperlink: var(--os-color-accent-2);
	
	scrollbar-width: thin;
	scrollbar-color: var(--os-color-noise-bg);
}

.directory .directory-header {
	color: var(--os-color-lines);
}
/*
button,
.directory .directory-header .header-search input {
	background: var(--os-color-lines-bg);
	border: 1px solid var(--os-color-lines);
	border-radius: 0px;
	color: var(--os-color-lines);
}*/

#settings button,
.directory .action-buttons button {
	font-size: 1.2em;
	color: var(--os-color-lines);
	border: 1px solid var(--os-color-lines);
	box-shadow: 0 0 10px var(--os-color-lines-bg), 0 0 15px var(--os-color-lines-bg) inset;
	border-radius: 0px;
	display: inline-block;
	position: relative;
	font-family: var(--os-font-heading);
	background: var(--os-color-lines-bg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#settings button:hover,
.directory .action-buttons button:hover {
	color: #000000;
	background: var(--os-color-lines);
	box-shadow: 0 0 5px var(--os-color-lines-bg), 0 0 10px var(--os-color-lines-bg) inset;
}

/* A border-color that was not implemented using css variables */
#navigation #scene-list .scene.gm {
	border-color: var(--os-color-accent-bg);
}

/* Add more color to sidebar */
#sidebar {
	border-radius: 0px;
	padding: 2px;
}

#sidebar-tabs .item.active {
	color: var(--os-color-lines);
    border-bottom: 2px solid var(--os-color-lines) !important;
	border: none;
	box-shadow: none;
    /*box-shadow: 0 0 5px var(--os-color-lines-bg), 0 0 10px var(--os-color-lines-bg) inset;*/
    border-radius: 0px;
}

#sidebar-tabs .item:hover {
	color: var(--os-color-lines);
	text-shadow: 0 0 5px var(--os-color-lines-bg);
    /*border-bottom: 2px solid var(--os-color-lines) !important;*/
	border: none;
    border-radius: 0px;
}

.chat-message { /* foundry override */
	border-radius: 0px;
	background: url("/systems/os/assets/media/bg.webp");
}
		
/* Custom dice roll chat messages */
.chat-message:has(.os.dice-roll) {
	background: url("/systems/os/assets/media/bg-alt.webp"); /* main bg color */
	color: var(--os-color-primary-bg);
	font-family: var(--os-font-text);
	font-size: var(--font-size-12);
	border-radius: 0px;
	border: 1px solid var(--os-color-lines-bg);

	&.whisper {
		background: url("/systems/os/assets/media/bg-alt.webp");
		border-radius: 0px;
	}

	&.blind {
		border-color: var(--os-color-lines-bg);
	}

	&.self {
		border-color: var(--os-color-mixed);
	}

	& .message-header {
		color: color-mix(in hsl, var(--os-color-accent) 70%, transparent);
	}
}

#chat-form textarea {
    background: url("/systems/os/assets/media/bg.webp") no-repeat;
	color: var(--os-color-bg);
	border-radius: 0px;
}

#chat-controls i.fas:hover {
	color: var(--os-color-lines);
}

/* Custom content links */
a.content-link {
	border: none;
	border-radius: 0px;
	background: none;
	color: var(--os-color);
	outline: 1px solid;
	outline-offset: -1px;
	outline-style: dashed;

	& i {
		color: var(--os-color-accent-2);
	}
}

/* Journal Entries background */									  
.window-app .window-content,
.sheet.journal-entry .journal-entry-content {
	background: url("/systems/os/assets/media/bg.webp") repeat;
	border-radius: 0px;
	border: none;
}

.window-app .window-header {
	color: var(--os-color-lines);
}

.window-app .window-resizable-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 1px;
    right: -3px;
    background: var(--os-color);
    padding: 1px;
	color: var(--os-color-lines);
    border-radius: 0px;
	border: none;
}

/* logo */
#logo {
	object-fit: contain;
	object-position: top;
	filter: drop-shadow(0px 0px 3px color-mix(in hsl, var(--os-color-bg) 60%, transparent));
	margin-inline: 16px;
	image-rendering: -webkit-optimize-contrast;
}

/* pause button */
#pause {
	background: none;
	animation: pulse 3s infinite ease-in-out;
	will-change: filter;

	img {
		opacity: 80%;
		object-fit: contain;
		object-position: center;
		width: 220px;
		height: 220px;
		top: -55px;
		left: calc(50% - 110px);
		transform-self: center;
	}

	figcaption {
		color: var(--os-color-accent);
		text-shadow: 2px 2px 2px var(--os-color);
		font-family: var(--os-font-heading);
		font-weight: 800;
		letter-spacing: 2.5px;
		padding: 0;
		margin: 0;
	}
}

/* For any tags which don't inherit os--status styling - NOT WORKING EVERYWHERE???? */
mark {
	transform: skew(-10deg);
}


a:hover {
	text-shadow: 0 0 4px var(--os-color-lines);
	font-weight: 700;
}

@media (prefers-reduced-motion) {
	#pause {
		animation: none;
	}
}

/* Reduce size of tooltips */
#tooltip,
aside[role="tooltip"] {
	font-size: var(--font-size-14);


	& a.content-link {
		color: var(--os-color-accent);

		& i {
			color: var(--os-color-accent);
		}
	}
}

/* Draggable should have grap-cursor */
[draggable="true"] {
	cursor: grab;
}

/* App core style overrides */

.app.os {
	background: url('../assets/media/background.webp') no-repeat left / cover;
	box-shadow: none;
	filter: drop-shadow(rgb(0, 0, 0, 0.6) 2px 4px 8px);
	border-radius: 0px;

	&:where(:not(.minimized)) {
		padding: 0.625rem;

		& .window-title {
			display: none;
		}
	}

	& * {
		scrollbar-color: var(--os-color-accent) transparent;
		scrollbar-width: thin;
	}
	& button {
		border: none;
		background: none;

		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
		}
	}

	& img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		font-style: italic;
		background-repeat: no-repeat;
		background-size: cover;
		shape-margin: 1rem;
		border: none;
		border-radius: 0px;
	}

	& .window-header {
		border-bottom: none;
		color: var(--os-color-lines);
		font-family: var(--os-font-primary);
		justify-content: end;
		flex: 0 0 1.5rem;

		& .document-id-link {
			margin-inline: 0 auto;
		}

		& .os--sheet-scale-button {
			rotate: 45deg;
			cursor: nwse-resize;					   
		}
	}

	& .window-content {
		padding: 0px;
		background: none;
		color: var(--os-color-bg);

		& form {
			display: flex;
			flex-direction: column;
		}
	}

	& .editor {
		min-height: 100px;
		height: 100%;

		& .tox.tox-tinymce .tox-edit-area__iframe {
			background-color: #fff;
		}

		blockquote {
			border: none;
			padding: 0px;
			font-family: var(--os-font-accent);
			color: var(--os-color-lines);
			font-size: var(--font-size-14);
			margin: 0.8em 0px;
		}
	}
}

/* Animations */
@keyframes pulse {
	0% {
		filter: drop-shadow(0 0 0 transparent);
	}

	50% {
		filter: drop-shadow(0 0 4px var(--os-color-alt-bg));
	}

	100% {
		filter: drop-shadow(0 0 0 transparent);
	}
}