:root {
	--os-color-bg: hsla(189, 64%, 94%, 1);
	--os-color: hsla(189, 64%, 94%, 1); 
	--os-color-alt-bg: hsl(34, 34%, 82%);
	--os-color-dark-bg: hsl(0 0.88% 44.51%);
	--os-color-accent-bg: hsl(225.94 10.66% 41.72%);
	--os-color-accent: hsla(189, 64%, 94%, 1);
	--os-color-accent-2: hsl(24deg 20.72% 43.81%);
	--os-color-primary-bg: color-mix(in hsl, var(--os-color-accent) 75%, hsl(0 0% 100%));
	--os-color-primary: hsla(189, 64%, 94%, 1);
	--os-color-row-odd: rgb(0, 0, 0, 0.1);
	--os-color-muted-bg: hsl(0 0% 45.42% / 20%);
	
	/* Weakness Tags */
	--os-color-weakness: hsla(73, 100%, 50%, 1);
	--os-color-weakness-bg: hsl(6.5 42.05% 41.08% / 20%);
	--os-color-weakness-img: url(../../assets/media/weakness-tag.webp);
	--os-color-weakness-img-sm: url(../../assets/media/weakness-legend.webp);

	/* Fonts */
	--os-font-heading: Brownland, Isotonic, sans-serif;
	--os-font-primary: Isotonic, IsotonicMedI, sans-serif;
	--os-font-accent: IsotonicMedI, sans-serif;
	--os-font-text: Isotonic, sans-serif;

	/* Vertical spacing */
	--os-space-1: 0.25rem;
	--os-space-2: 0.5rem;
	--os-space-3: 1rem;
	--os-space-4: 2rem;
	--os-space-5: 4rem;

	/* Foundry Overrides */
	--font-size-26: 1.425rem;
	--font-primary: 'Brownland' 'Isotonic', sans-serif;
	--color-text-light-1: var(--os-color-accent);
	--color-shadow-primary: var(--os-color-primary);
	--color-shadow-highlight: var(--os-color-accent-bg);
	--color-border-highlight: var(--os-color-accent-bg);
	--color-border-highlight-alt: var(--os-color-accent-2);
}


/* DANGER AREA */
/* TODO: Find a better way */


/* Background-colors not implemented using a token  */
button,
.directory .directory-header .header-search input {
	background-color: var(--os-color-alt-bg);
}

/* A border-color that was not implemented using a token  */
#navigation #scene-list .scene.gm {
	border-color: var(--os-color-accent-bg);
}

.chat-message:has(.os.dice-roll) {
	background-color: var(--os-color-weakness);
	background-blend-mode: color-burn;
	color: var(--os-color-primary-bg);
	font-family: var(--os-font-text);
	font-size: var(--font-size-12);

	& .message-header {
		color: color-mix(in hsl, var(--os-color-accent) 70%, transparent);
	}
}

#logo {
	object-fit: contain;
	object-position: top;
	filter: drop-shadow(0px 0px 3px color-mix(in hsl, var(--os-color-bg) 60%, transparent));
	margin-inline: 16px;
	image-rendering: -webkit-optimize-contrast;
}


/* App core style overrides */

.app.os {
	-webkit-font-smoothing: antialiased;

	background: url('../assets/media/background.webp') 0% 0% / cover;
	overflow: hidden;
	box-shadow: none;
	filter: drop-shadow(black 2px 4px 6px);

	&:where(:not(.minimized)) {
		outline: 2px solid var(--os-color-primary);
		outline-offset: -10px;
		padding: 10px;

		.window-title {
			display: none;
		}
	}

	& img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		font-style: italic;
		background-repeat: no-repeat;
		background-size: cover;
		shape-margin: 1rem;
		border: none;
		border-radius: 0;
	}

	& .window-header {
		border-bottom: none;
		font-family: var(--os-font-primary);
		justify-content: end;
		flex: 0 0 24px;

		.document-id-link {
			margin-inline: 0 auto;
		}
	}

	& .window-content {
		padding: 0px;
		background: none;

		form {
			display: flex;
			flex-direction: column;
		}
	}

	& .editor {
		min-height: 100px;
		height: 100%;
	}
}